<div class='form-container'>
	<h2>Inicia Sesión</h2>
	<form action='/login' method='post'>
		<label for='email'>Email</label>
		<input type='email' name='email' id='email' />
		<label for='password'>Password</label>
		<input type='password' name='password' id='password' />
		<button class='btn-submit' type='submit'>Iniciar Sesión</button>
	</form>
	<br />
	<div>
		<a href="/api/github"><button>Entrar con Github</button></a>
	</div>
	<a href="/api/recover">Restaurar Contraseña</a>
	<p>¿No estás registrado?</p>
	<a href='/api/register'>Registrate</a>
</div>