<div class='form-container'>
	<h2>Inicia Sesión</h2>
	<form action='/login' method='post'>
		<label for='email'>Email</label>
		<input type='email' name='email' id='email' />
		<label for='password'>Password</label>
		<input type='password' name='password' id='password' />
		<button class='btn-submit' type='submit'>Iniciar Sesión</button>
	</form>
	<p>¿No estás registrado?</p>
	<a href='/register'>Registrate</a>
</div>