<div>
  <h1>Perfil de usuario</h1>

  <p>{{this.username}}</p>
  <p>{{this.email}}</p>
  <p>{{this.rol}}</p>

  <div>
    <form action="/logout" method="get">
      <br />
      <button type="submit">logout</button>
    </form>
  </div>

</div>