<div class='form-container'>
	<h2>Registrate</h2>
	<form action='/register' method='post'>
		<div>
			<label for='username'>Nombre de usuario</label>
			<input type='text' name='username' id='username' />
		</div>
		<div>
			<label for='email'>Email</label>
			<input type='email' name='email' id='email' />
		</div>
		<div>
			<label for='password'>Password</label>
			<input type='password' name='password' id='password' />
		</div>
		<div>
			<label for='admin'>Eres admin?</label>
			<input type='checkbox' name='rol' value='admin' id='admin' />
		</div>
		<button class='btn-submit' type='submit'>Registrate</button>
	</form>
	<p>¿Estás registrado?</p>
	<a href='/api/session/login'>Iniciar Sesión</a>
</div>